<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>387345046989-ji9cu4m4ehqie410vlfan9fibu7ahm79.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.387345046989-ji9cu4m4ehqie410vlfan9fibu7ahm79</string>
	<key>API_KEY</key>
	<string>AIzaSyDJoVUQCHIMMC0R456bknbEFvqEnWqHSV4</string>
	<key>GCM_SENDER_ID</key>
	<string>387345046989</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1</string>
	<key>PROJECT_ID</key>
	<string>fierabase-test</string>
	<key>STORAGE_BUCKET</key>
	<string>fierabase-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:387345046989:ios:1645f98e2e3f96fd39f884</string>
</dict>
</plist>